<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN UP</title>
  </head>
  <body>
    <h1>SIGN UP</h1>

    <div class="sign-name-div">
      Name
      <input type="text" class="name-input" name="name" />
    </div>
    <div class="sign-email-div">
      Email
      <input type="text" class="email-input" name="email" />
    </div>
    <div class="sign-password-div">
      Password
      <input type="text" class="pass-input" name="password" />
    </div>
    <button class="signup-btn">SIGN UP</button>

  </body>
</html>